<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="wfc-buildingBlocks-nuget" value="https://siroua.wafacash.com/WFCRef/PHOENIX/_packaging/wfc-buildingBlocks-nuget/nuget/v3/index.json" />
        <add key="Local nuget source package" value="C:\Users\hp\source\repos\WafacashDevops\wfc-buildingBlocks\BuildingBlocks.Core\bin\Debug\" />
    </packageSources>
</configuration>   